@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div style="position:absolute;top:45%;text-align:center;">
    <h1 class="text-danger">Oei. Er is iets misgelopen. </h1>
    <h2 class="text-danger">Er is iets misgelopen. Probeer later opnieuw</h2>
</div>
