@font-face {
	font-family: 'Infinity';
	src: url('../fonts/Infinity.ttf') format('truetype');

	}
body {
    padding-bottom: 20px;
}
h1, h2, h3, h4, h5 {
    font-size:3em;
    text-align:center;

}
.body-content {
    margin:0;
    padding:0;

}
.dl-horizontal dt {
    white-space: normal;
}
.page {
    height:100%;/*vh is the same as % of screen*/
    margin:0;
    padding:0;
    margin-top:81px;
    text-align:justify;
}
.wrapper{
    padding:0;
    margin:0;  
}
.ui.divider{
    font-family:Infinity;
    font-size:3em;
    margin-top:80px;
}
.logo {
    height:80px;
    padding:0;
    margin-left: 10px;
}
#liHome,#liFolder,#liNieuwsEnPromoties,#liProducten,#liContact,.actionlink
{
    padding:30px 15px;
}
.zwart
{
    padding:20px;

    margin:0;

}
.colorblack {
    color:black;
}
.wit {
    padding:0;
    margin:0;
   
}

.contactform {
    border-radius:5px;
    padding:0;

}


input,textarea{
    width:100%;
    margin-top:5px;
}
textarea{
    height:200px;
}
.producten
{
        margin:auto 0;
}
.ui.special.cards  img {
    width:100%;
    height:auto;
    padding:3px;

}

.labels
{
    font-family:Infinity;
    font-size:2em;
    color:#000000;
}
.ui.special.cards {
margin:25% 0;
padding:0;
width:100%;
}
iframe{
    width:100%;
}
.navbar.navbar-inverse.navbar-fixed-top
{
    background-color:rgb(0,0,0);
    padding-top:25px;
    padding-bottom:25px;
    border:solid 1px #000000;
    margin:0;


}
.ui.form .field>label{
    color:#ffffff;
}
.image img {
    width:200px;
}
.logoGroot {
    width: 20%;
    position: absolute;
    z-index: 1000;
    top: 32%;
    left: 40%;
}
.nomargin{
    margin:0;
}
.nopadding{
    padding:0;
}
@media only screen and (min-width: 1000px) {
.imagetable {
    padding:0 5%;
}
}
@media only screen and (min-width: 601px) {

}
@media only screen and (max-width: 1400px) {


}
@media only screen and (min-width: 1200px) {

    .dataTables_paginate.paging_simple_numbers{
    margin-top:0;
    text-align: right;
}

}
@media only screen and (max-width: 1200px) {
    .dataTables_paginate.paging_simple_numbers{
    margin-top:30%;
    text-align: center;

}
#headerNieuws.ui.raised.segment
{
    margin-top:2%;
    width:100%;


}    

}
@media only screen and (max-width: 1000px) {

  .logoGroot {top:35%}
  .ui.special.cards{
      margin:0 0 10px 0;
  }
   #pageNieuwsEnPromoties,.bgnieuws {
       
    }
  #pageProducten{height:inherit;min-height:100vh;}

}
@media only screen and (max-width: 800px) {

    .logoGroot {width:40%;left:31%}
    .ui.special.cards img{max-width:180px;}


}
@media only screen and (max-width: 700px) {

   .labels { font-size: 1em; }
   h1,.ui.divider{font-size:2em;}
   .header.overons{font-size:1em;}


}
@media only screen and (max-width: 600px) {

            .ui.raised.segment {
        width:100%;
    }
}
@media only screen and (max-width: 500px) {

    .logoGroot {width:53%;left:24%;}
    .displaynone{
    display:none;
    }
    .button{
    width:100%;
    }
}
@media only screen and (max-width: 300px) {
    .labels {
        font-size: 1em;
    }



    .ui.special.cards img {
        padding: 5px;
    }

    h1, .ui.divider {
        font-size: 2em;
    }

    .header.overons {
        font-size: 1em;
    }

    .logoGroot {
        width: 63%;
        left: 19%;
    }
}
.sl-slide-inner img
{
    height:100%;
}
#pageContact{
    min-height:100vh;
    height:inherit;
}
#pageNieuwsEnPromoties
{
    overflow:hidden;
  
}
#pageProducten {
    background:white;
}
.label:empty {
    display: none;
}
label.control-label{
    padding:1px;
    width:inherit;

}
.button{
    width:150px;
}
#datatable td{
    vertical-align:middle;
}
.postimage {
    margin:0;
    height: 200px;
    width:auto;
    text-align:center;

}
.imageDisplay {/*-----------------------------------------------------------------------------------------------------------------------------*/

   
    max-height:100%;
    text-align:center;
    width:auto;
    max-width:100%;
    position:relative;
    top:-10px;


}

#divAfbeelding{/*-----------------------------------------------------------------------------------------------------------------------------*/
    text-align:center;
    padding:0;
 height: 90%;
}
#posts {
    white-space:nowrap;
     height: 60%;
}
#post-container{
    height:100vh;padding: 5% 20%;
   
}
#divTitel{
    margin-top:10px;
}
.postcontent{
    margin-top:3.5%;
}
#txtAfbeelding {
    width:initial;
    margin-bottom:10px;
}
#pageHome {
    min-height:100vh;
}

.segmenthandler {
    padding:0;
}
.col-sm-28{
    margin:5%;
    text-align:center;
    text-align: -webkit-center;
}
.bericht {
    position:relative;
}
#myTable
{
    position:relative;
}
.bgnieuws
{
    
    position:absolute;
    width:100%;
    height:100vh;
    z-index:-9999;
    background-image:url(../Images/nieuwsenpromotiebg.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
 

filter: blur(20px);
-webkit-filter: blur(20px);

}
.imagetable{
    display:inline;
}
#scrollStart{
    z-index: 2001;
}