@model De_Gaverbeek.ViewModels.ContactViewModel

<div class="page"  style="height:100vh;" id="pageFolder">
    <br />
    <div class="ui horizontal divider customdivider">
        Folder
    </div>
   
    <style>
        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <div style="padding:0 15%"><div class='embed-container' data-page-width='452' data-page-height='640' id='ypembedcontainer'><iframe src="https://www.yumpu.com/nl/embed/view/IeA2zboXV1yBZ8gr" frameborder="0" allowfullscreen="true" allowtransparency="true"></iframe></div>
    <script src='//www.yumpu.com/assets/v4/js/modules/embed/yp_r_iframe.js'></script>
</div>
</div>