@model De_Gaverbeek.ViewModels.OverOnsViewModel
@using System.Globalization
<div class="page" id="pageNieuwsEnPromoties">
        <br />
    <div class="bgnieuws"></div>

       <div class="ui raised segment" id="headerNieuws"style="margin-top:2%;">
           <div class="ui horizontal divider customdivider" style="margin-top:0;">
    Nieuws en Promoties
    </div>
       </div>
            
        <div class="ui container-fluid">

            <div class="posts">
                @foreach (var item in ViewBag.sortedPosts)
                {


                    

                        <div class="post col-md-7 col-sm-14">
                            
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img alt="" style="width:100%;height:auto;" class="activator" src="data:image;base64,@System.Convert.ToBase64String(item.PostImage)" />
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">@item.PostTitel</span>

                                </div>

                            </div>

                       

                    </div>





                }

                </div>






            </div>


           
            </div>



